.comments {
	display: flex;
	flex-direction: column;
	align-items: center;
	.comments-show-button {
		display: flex;
		justify-content: center;
		button {
			font-size: 1.5rem;
			background-color: transparent;
			padding: 0;
			border: none;
			border-radius: 5px;
			color: grey;
			padding: 5px;
			outline: none;
			margin-bottom: 5px;
			&:hover {
				background-color: rgba(52, 53, 54, 0.75);
			}
		}
	}
	.comments-hide-button {
		display: flex;
		justify-content: center;
		button {
			font-size: 3rem;
			background-color: transparent;
			padding: 0;
			border: none;
			border-radius: 5px;
			color: grey;
			padding: 5px;
			outline: none;

			&:hover {
				background-color: rgba(52, 53, 54, 0.75);
			}
		}
	}
}
.comments-container {
	border: 2px solid rgba(128, 128, 128, 0.096);
	border-radius: 10px;
	overflow-y: scroll;
	padding: 0 10px;
	display: flex;
	max-height: 900px;
	flex-grow: 1;
}
.comments-parent {
	display: flex;
}
.comments-votes {
	min-width: 60px;
	margin-top: 30px;
	font-size: 1.25rem;
	text-align: center;

	.votes-up {
		color: orange;
	}
	.votes-down {
		color: aqua;
	}
}
.comments-parent-body {
	border-left: 4px solid rgb(66, 66, 66);
	padding-left: 30px;

	&:hover {
		border-left: 4px solid rgb(126, 126, 126);
	}
}
.hide-comments-button {
	font-size: 2rem;
	color: rgba(145, 145, 145, 0.6);
}
