@media only screen and (max-width: 480px) {
}
.post-cards {
	display: flex;
	flex-direction: column;

	background-color: #1d1d1d;
	border: 2px solid #818384;
	border-radius: 25px;
	margin: 10px 0;

	&:hover {
		border: 2px solid rgb(165, 164, 164);
	}

	.post-header {
		background-color: #131313;
		border-radius: 25px 25px 0 0;
		a {
			color: #2f6d94;
		}
		text-align: center;
		.post-header-details {
			display: flex;
			justify-content: space-between;
			padding: 0 20px;
			.post-header-details-middle {
				h3 {
					border: 1px solid;
					border-radius: 10px;
					padding: 5px;
				}
			}
			.post-header-details-right {
				display: flex;
				flex-direction: column;
				h4 {
					font-size: 1.5rem;
				}
				p {
					font-style: italic;
				}
			}
		}
	}
	.post-content {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin: 50px 10px 10px 10px;

		.post-content-left {
			margin: 10px 10px;
			.post-media {
				display: flex;
				max-width: 100%;

				video {
					border-radius: 25px;
				}
				img {
					border-radius: 25px;
					max-width: 600px;
					max-height: 512px;
				}
				.embed-container {
					width: 300px !important;
					height: 300px !important;
				}
			}
		}
		.post-content-right {
			min-width: 50%;
			.post-content-right-comments {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
.votes {
	font-size: 1.5rem;
	.votes-up {
		color: orange;
	}
	.votes-down {
		color: aqua;
	}
}
